# Relatório de Análise IV

## Seleções e Frenquencias

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 10)

In [3]:
dados = pd.read_csv('dados/aluguel_residencial.csv' , sep =';')

In [4]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor M²,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

In [5]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao  = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

18780

In [6]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
Casas = ['Casa', 'Casa de Condomínio' , 'Casa de Vila']
selecao = dados['Tipo'].isin(Casas)
n2 = dados[selecao].shape[0]
n2

2210

In [7]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2210

In [8]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8424

In [9]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000.0)
n4 = dados[selecao].shape[0]
n4

36

In [10]:
print ("Nº de  imóveis classificados com tipo 'Apartamento' -> {}".format(n1))

print("Nº de  imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> {}.".format(n2))

print("Nº de  imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}.".format(n3))

print("Nº de  imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 ->{}.".format(n4))

Nº de  imóveis classificados com tipo 'Apartamento' -> 18780
Nº de  imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> 2210.
Nº de  imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8424.
Nº de  imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 ->36.

In [14]:
valor = dados[['Valor']]

In [15]:
valor

        Valor
0      1700.0
1      7000.0
2       800.0
3       800.0
4      1300.0
...       ...
21821   900.0
21822   800.0
21823  1800.0
21824  1400.0
21825  3000.0

[21826 rows x 1 columns]

In [53]:
selecao  =   (valor > 3000) & (valor < 1000)

In [54]:
valor[selecao]

       Valor
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
21821    NaN
21822    NaN
21823    NaN
21824    NaN
21825    NaN

[21826 rows x 1 columns]